:root {
  --c-black: hsl(0, 0%, 7%);
  --c-dark-blue: hsl(219, 29%, 14%);
  --c-white: hsl(0, 0%, 100%);
  --c-grey-100: hsl(214, 17%, 92%);
  --c-grey-200: hsl(0, 0%, 81%);
  --c-grey-300: hsl(215, 10%, 67%);
  --c-grey-400: hsl(224, 10%, 45%);
  --c-grey-500: hsl(217, 19%, 35%);
  --c-grey: hsl(300, 5%, 96%);

  --c-purple-50: hsl(260, 100%, 95%);
  --c-purple-300: hsl(264, 82%, 80%);
  --c-purple-350: hsl(264, 82%, 70%);
  --c-purple-500: hsl(263, 55%, 52%);

  --color-main-bg: var(--c-grey);

  --color-card-image-border: var(--c-purple-350);

  --color-card1-bg: var(--c-purple-500);
  --color-card1-name: var(--c-white);
  --color-card1-verified: var(--c-purple-50);
  --color-card1-emphasis: var(--c-white);
  --color-card1-text: var(--c-purple-50);
  --color-card1-quote: var(--c-purple-300);

  --color-card2-bg: var(--c-grey-500);
  --color-card3-bg: var(--c-white);
  --color-card4-bg: var(--c-dark-blue);
  --color-card5-bg: var(--c-white);

  --color-card2-name: var(--c-white);
  --color-card3-name: var(--c-grey-500);
  --color-card4-name: var(--c-white);
  --color-card5-name: var(--c-grey-500);

  --color-card2-verified: var(--c-grey-300);
  --color-card3-verified: var(--c-grey-400);
  --color-card4-verified: var(--c-white);
  --color-card5-verified: var(--c-grey-300);

  --color-card2-emphasis: var(--c-white);
  --color-card3-emphasis: var(--c-grey-500);
  --color-card4-emphasis: var(--c-grey-200);
  --color-card5-emphasis: var(--c-grey-500);

  --color-card2-text: var(--c-grey-100);
  --color-card3-text: var(--c-grey-400);
  --color-card4-text: var(--c-grey-100);
  --color-card5-text: var(--c-grey-400);
}