*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font), sans-serif;
  font-size: var(--font-size-main);
  font-weight: var(--font-weight-main);
  line-height: 1.4;
  letter-spacing: 0;
  background-color: var(--color-main-bg);
}

h1, h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-h2);
  line-height: 1.1;
}

img,
video,
iframe,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}